<style>
  .detail_container{
    background-color: white;
    min-height: 100px;
    height: auto;
    /* display: none; */

    margin-left: 4px;
    margin-right: 4px;

    border-left: 1px solid silver;
  }
  .detail_item{
    min-height: 25px;
    height: auto;
    border-bottom: 0.1px solid silver;
    margin-left: 4px;
    margin-right: 4px;
  }
  .label_judul_item{
    font-size: 1em;
    color: darkslategray;
  }
</style>
<ion-content class="ion-no-padding">
  <div class="div_12 " *ngIf="!penjualan_datas" style="margin-top: 40px; text-align: center;">
    <label class="label_big_grey">Belum ada Pembelian.</label>
  </div>
  <div class="div_12" *ngIf="penjualan_datas" style="margin-top: 20px;">
    <div class="div_12 div_strip_medium" *ngFor="let penjualan_data of penjualan_datas" >
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <label style="display: inline-block;">
              Invoice : {{penjualan_data['nomor_trans']}}
            </label>
          </ion-col>
          <ion-col size="6" style="text-align: right;">
            <label style="display: inline-block;" class="pull-right">
              Total : {{penjualan_data['total_jual'] | number:0}}
            </label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="is_show_detail" class="div_12 detail_container">
        <div class="div_12 detail_item" *ngFor="let detail_data of penjualan_data['detail']">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding"> 
              <ion-col class="ion-no-padding" size="8">
                <label class="label_judul_item">{{detail_data.produk_nama}}</label>
              </ion-col>
              <ion-col class="ion-no-padding" size="2">
                <label class="label_money_red">@{{detail_data['harga_jual'] | number:0}}</label>
                <label class="label_money_grey">x{{detail_data['jumlah'] | number:0}}</label>
              </ion-col>
              <ion-col class="ion-no-padding" size="2" style="text-align: right;">
                <label class="label_money_green">{{detail_data['harga_jual'] * detail_data['jumlah'] | number:0}}</label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div class="div_12" style="text-align: right; padding-right: 10px;">
        <label (click)="togle_detail()" class="label_link_grey" style="display: block;">
          lihat detail >
        </label>
      </div>
    </div>
  </div>
</ion-content>
