/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import "colors.scss";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.searchbar-input {
    border: 0 !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}

div[scrollx=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
       display: none;
    }
     .scroll-item {
       flex: 0 0 auto;
    }
  }

.collection{
  @media (max-width: 779px) and (min-width: 0px){
    column-count: 1;
  }
  @media (max-width: 1039px) and (min-width: 780px){
    column-count: 2;
  }
  @media (max-width: 1299px) and (min-width: 1040px){
    column-count: 3;
  }
  @media (min-width: 1300px){
    column-count: 4;
  }
}
.collection_four{
  @media (max-width: 779px) and (min-width: 0px){
    column-count: 3;
  }
  @media (max-width: 1039px) and (min-width: 780px){
    column-count: 3;
  }
  @media (max-width: 1299px) and (min-width: 1040px){
    column-count: 3;
  }
  @media (min-width: 1300px){
    column-count: 3;
  }

}

.radius{
  border-radius: 5px;
}

ion-content{
  // --ion-background-color: #f76a6a;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

div.scroll { 
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:justify; 
} 

.div_12{
  width: auto;
  display: block;
  // box-sizing: unset;
}

.div_strip{
  height: 104px; 
  border: 0.5px solid #ebebeb;
  border-radius: 4px;

  margin-bottom: 10px;
  padding-bottom: 4px;

  // box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.16);

  margin-left: 6px;
  margin-right: 6px;
}
.label_big_grey{
  color: gray;
  font-weight: bold;
  font-size: 1.5em;
}
.label_link_green{
  color: olivedrab; 
  font-size: 0.9em;
}
.label_link_grey{
  color: gray; 
  font-size: 0.9em;
}
.div_strip_medium{
  min-height: 84px;
  height: auto; 
  border-bottom: 3px solid rgb(145, 184, 248);
  // border-radius: 4px;
  border-radius: 0px 0px 6px 6px;

  margin-bottom: 10px;
  // padding-bottom: 4px;
  padding: 2px;

  // box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.16);

  margin-left: 6px;
  margin-right: 6px;
}
label{
  font-size: 0.9em;
}
.label_money_red{
  font-size: 0.8em; 
  // font-weight: bolder; 
  color: indianred; 
}
.label_money_green{
  font-size: 0.8em; 
  // font-weight: bolder; 
  color: #9BD5A5; 
}
.label_money_grey{
  font-size: 0.8em; 
  font-weight: bolder; 
  color: gray; 
}
.btn_grey{
  border: #f2f2f2; 
  border-style: solid; 
  border-radius: 4px 4px 4px 4px; 
  border-width: 0.8px 0.8px 0.8px 0.8px;
  text-transform:none;
}

.my-custom-modal-css .modal-wrapper {
  height: 55%;
  width: 90%;
  top: 25%;
  position: absolute; 
  display: block;  
}
.action_red{
  .action-sheet-button-inner{
    color: indianred;
  }
}
.custom_sheet{
  .action-sheet-wrapper {
    height: auto;
    width: 65%;
    top: 30%;
    position: absolute; 
    display: block;  

  }
  .action-sheet-container{
    height: auto;
  }
  .action-sheet-title {
    text-align: center;
    color: #00ab14;
  }
  .action-sheet-button-inner{
    ion-icon{
      margin-right: 4px;
    }
  }

  .action-sheet-group{
    border-radius: 20px;
    button{
      color: slategray;
    }
    button span{
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .action-sheet-group-cancel{
    margin-top: 15px;
    button{
      color: indianred;
    }
  }
} 
