<ion-header no-border>
  <ion-toolbar class="myButton" >
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-searchbar [(ngModel)]="cariVal" (ionFocus) = "gotoSearch()" color="light" placeholder="Pencarian" no-shadow></ion-searchbar>
            </ion-col>
          </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content color="pale-grey">
  <ion-refresher slot="fixed" (ionRefresh)="reloadRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="dots"
      refreshingText="Perbarui data..">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div style="padding: 4px; background-color: white; margin-left: 2px; margin-right: 2px; margin-bottom: 8px; width: 100%;">
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let promo of promos">
              <img (click)="gotoPromo(promo.id)" style="height: auto; width: auto;" src="{{promo.gambar_url}}"/>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" style="margin-bottom: 8px;">
        <div class="scroll" style=" background-color: white; height: 180px; padding: 4px;">
          <ion-avatar (click)="gotoKategori(kategori['id'])" *ngFor="let kategori of kategoriDatas" style="text-align: center; width: 55px; height: 55px; margin: 4px; display: inline-block; padding: 2px;" >
            <img style="display: block;" src="{{kategori.gambar_url}}">
            <label style="margin-top: 2px; display: block; color: darkslategrey; font-size: 0.8em;">
              {{kategori.nama}}
            </label>
          </ion-avatar>
        </div>
      </ion-col>

      <ion-col size="12" *ngFor="let katitem of produkPerKat" class="ion-no-padding">
        <div style="padding: 4px; background-color: white; margin-bottom: 8px; width: 100%;">
          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="12">
                  <label style="width: 100%; color: darkslategray;">{{katitem['nama']}}</label>
                </ion-col>
                <ion-col size="12">
                  <label style="width: 100%; color: darkslategray; font-size: 0.8em;">info detail kategori</label>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col style="text-align: right;" size="6">
              <ion-row>
                <ion-col size="12">
                  <label>&nbsp;</label>
                </ion-col>
                <ion-col size="12">
                  <label (click)="gotoKategori(katitem['id'])" style="color: olivedrab; font-size: 0.9em;">Selengkapnya ></label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <div class="slider" style=" width: 100%;" >
            
              <div *ngFor="let itemp of katitem['data']" class="ion-activatable slide" style="background-color: white; border-radius: 4px 4px 4px 4px; border: 1px solid #e6e6e6; margin: 1px; height: 220px; width: 140px;">
                <div style="margin: 2px; border-radius: 10px 10px 10px 10px; height: 50%;">
                  <img style="border-radius: 10px 10px 10px 10px; height: 100%; width: auto;" src="{{itemp.gambar_url}}"/>
                </div>
                <label style="padding-left: 4px; margin-bottom: 6px; text-overflow: ellipsis; font-weight: bold; white-space: nowrap; color: darkslategray;">{{itemp.nama}}</label>
                <label style="padding-left: 4px; margin-bottom: 6px; font-size: 0.7em; display: block; font-weight: normal; color: rgb(129, 129, 129);">{{itemp.keterangan}}</label>
                <div style="padding-left: 4px; display: block;">
                  <label style="font-size: 0.8em; font-weight: bolder; color: indianred; display: inline-block;">Rp. {{itemp.harga_jual_th}} &nbsp;</label>
                  <label style="font-size: 0.8em; font-weight: bolder; color: darkslategrey; display: inline-block;"> / {{itemp.satuan_nama}}</label>
                </div>
                <div style="margin-top: 6px; padding-left: 4px; padding-right: 4px; text-align: left;">
                  <label *ngIf="itemp.stok < 1" style="display: block; font-size: 0.8em; font-weight: normal; color: indianred">Stok Tersedia : {{itemp.stok}}</label>
                  <label *ngIf="itemp.stok > 0" style="display: block; font-size: 0.8em; font-weight: normal; color: mediumseagreen">Stok Tersedia : {{itemp.stok}}</label>
                </div>
                <ion-ripple-effect ></ion-ripple-effect>
              </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-bottom-drawer [(state)]="drawerState" [minimumHeight]="minimumHeight" [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce"
 [distanceTop]="distanceTop">
	<div class="drawer-content" style="background-color: red;">
		asdas
    <div><ion-input style="color: grey;"></ion-input></div>
	</div>
</ion-bottom-drawer>

    
    