.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }

  .grad-menu-avatar {
    background:linear-gradient(to bottom, #70c27e 5%, #63ab6f 100%);
  }
  .grad-produk{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    
  }

  .slider {
    width: auto;
    height: auto;
    display: flex;
    overflow-x: auto;
  }
  .slide {
    width: auto;
    flex-shrink: 0;
    height: auto;
  }