<ion-header no-border>
  <ion-toolbar color="deep-new">

    <ion-title >Akun Saya</ion-title>
    <ion-buttons slot="primary" >
        <ion-button>
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col color="primary" size="5">
        <ion-img [src]="accData['pp_url']"></ion-img>
      </ion-col>
      <ion-col color="success" size="7">

      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-menu side="end" type="push">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>End Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-content>

