
<ion-header no-border>
  <ion-toolbar>

    <ion-title >Akun Saya</ion-title>
    <ion-buttons slot="primary" >
        <ion-button (click)="presentPopover()">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet id="content" main></ion-router-outlet>
  <ion-grid>
    <ion-row>
      <ion-col color="primary" size="5">
        <ion-img [src]="accData['pp_url']"></ion-img>
      </ion-col>
      <ion-col color="success" size="7">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


