<ion-header no-border>
  <ion-toolbar color="new">
    <ion-title style="text-align: center;">Verifikasi Registrasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="new">
  <ion-grid>
    <ion-row >
      <ion-col size="12" style="margin-top: 50px; text-align: center;" class="ion-align-items-center ion-justify-content-center">
        <div style="text-align: center; width: 100%; padding-left: 40px; padding-right: 40px;">
          <ion-input 
            color="dark-grey" 
            maxlength="4" 
            type="password" 
            class="ion-no-padding" 
            style="width: 100%; letter-spacing: 4px; font-size: 1.5em; background-color: snow; border: 3px solid sandybrown; border-radius: 20px;" name="kode" id="kode" value="{{kode_ver}}"
            ></ion-input>
        </div>
      </ion-col>
      <ion-col size="12" style="padding-left: 70px; padding-right: 70px;">
        <ion-button color="pale-grey" [disabled]="disable_send_otp" style="text-transform:none; width: 100%;">Verifikasi</ion-button>
        <ion-button color="pale-leaf" [disabled]="disable_send_otp" style="text-transform:none; width: 100%;">Kirim ulang SMS</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
