<ion-header no-border>
  <ion-toolbar color="new">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar Baru</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="12"> 
        <form #form="ngForm" (ngSubmit)="formSubmit(form)" method="post" >
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-label color="medium" style="font-size: 0.9rem;">Alamat Email :</ion-label>
                <ion-item>
                    <ion-input name="username" id="username"  ngModel required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="isErrorEmail" size="12" style="padding-top: 0px">
                <ion-label style="text-align: left; color: red; width: 100%; font-size:0.8rem;">{{emailErrorMsg}}</ion-label>
              </ion-col>

              <ion-col size="12">
                <ion-label color="medium" style="font-size: 0.9rem;">Nama Lengkap :</ion-label>
                <ion-item class="radius">
                    <ion-input name="fullname" id="fullname"  ngModel required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="isErrorPin" size="12" style="padding-top: 0px">
                <ion-label style="text-align: left; color: red; width: 100%; font-size:0.8rem;">{{fullnameErrorMsg}}</ion-label>
              </ion-col>

              <ion-col size="12">
                <ion-label color="medium" style="font-size: 0.9rem;">6 digit pin :</ion-label>
                <ion-item class="radius">
                    <ion-input name="pin" id="pin" ngModel required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="isErrorPin" size="12" style="padding-top: 0px">
                <ion-label style="text-align: left; color: red; width: 100%; font-size:0.8rem;">{{pinErrorMsg}}</ion-label>
              </ion-col>

              <ion-col size="12">
                <ion-label color="medium" style="font-size: 0.9rem; ">Ulang 6 digit pin :</ion-label>
                <ion-item>
                    <ion-input name="ulangPin" id="ulangPin" ngModel required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="isErrorPinUlang" size="12" style="padding-top: 0px">
                <ion-label style="text-align: left; color: red; width: 100%; font-size:0.8rem;">{{pinUlangErrorMsg}}</ion-label>
              </ion-col>

              <ion-col size="12" style="text-align: right;">
                  <ion-button size="small" color="young-leaf" style="width: 100%; margin-top: 10px;" type="submit">
                    Daftar
                  </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
