<ion-header no-border style="text-align: center; height: 50%;">
  
  <ion-toolbar style="height: 56px;">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>Detail Produk</ion-title> -->
  </ion-toolbar>

  <div  style="height: 100%; margin-top: -56px;">
    <img src="{{produkData['gambar_url']}}" height="100%" width="auto">
  </div>
  <!-- <ion-img style="margin-top: -56px; max-height: 40%;" [src]="produkData['gambar_url']">

  </ion-img> -->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="color: darkslategrey; font-size: 1.2em; text-align: left; margin-left: 8px; margin-top: 10px; margin-bottom: 2px;" class="ion-no-padding">
        <label style="width: 100%;">{{produkData['nama']}}</label>
      </ion-col>
      <ion-col size="12" style="text-align: left; font-size: 0.8em; margin-left: 8px;" class="ion-no-padding">
        <label style="width: 100%; color: rgb(129, 129, 129);">{{produkData['keterangan']}}</label>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" style="text-align: left;  margin-top: 10px; margin-left: 8px;" class="ion-no-padding">
        <label style="font-size: 1.0em; font-weight: bold; width: 100%; color: indianred;">Rp. {{produkData['harga_jual'] | number:0}}</label>
      </ion-col>
      <ion-col *ngIf="produkData['is_hide'] == false" size="12" class="ion-no-padding" >
        <hr style="background-color: lightgray; width: 100%; height: 1px; margin-top: 4px;" >
        <label *ngIf="produkData.stok < 1" style="margin-top: 4px; margin-left: 8px;display: block; font-size: 0.8em; font-weight: normal; color: indianred">Stok Tersedia : {{produkData.stok}}</label>
        <label *ngIf="produkData.stok > 0" style="margin-top: 4px; margin-left: 8px;display: block; font-size: 0.8em; font-weight: normal; color: mediumseagreen">Stok Tersedia : {{produkData.stok}}</label>
        <hr style="background-color: lightgray; width: 100%; height: 1px; margin-top: 4px;" >
      </ion-col>
      <ion-col size="12" style="text-align: center;">
        <label style="width: 100%; color: rgb(129, 129, 129);">Didalam keranjang :</label>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" style="margin-top: 8px;">
        <ion-row style="text-align: center;">
          <ion-col size="5" style="text-align: right;" class="ion-no-padding">
            <ion-button (click)="minus_qty()" style="font-size: 1.2em; border: #f2f2f2; border-style: solid; border-radius: 4px 4px 4px 4px; border-width: 0.8px 0.8px 0.8px 0.8px;" color="pale-grey">
              <ion-icon size="small" slot="icon-only" name="remove"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2" class="ion-no-padding">
            <ion-input minValue="0" class="ion-no-padding" value="{{qty}}" inputmode="numeric" style="width: 100%; height: 100%;  padding-left: 0px; border: #f2f2f2; border-style: solid; border-width: 0.0px 0.0px 0.0px 0.0px;"></ion-input>
          </ion-col>
          <ion-col size="5" style="text-align: left;" class="ion-no-padding">
            <ion-button (click)="plus_qty()" style="font-size: 1.2em; border: #f2f2f2; border-style: solid; border-radius: 4px 4px 4px 4px; border-width: 0.8px 0.8px 0.8px 0.8px;" color="pale-grey">
              <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" style="text-align: center;">
        <ion-button *ngIf="qty == 0 && cart_data['jumlah'] > 0" color="calm-red" style="text-transform:none" (click)="click_insert_cart()" >
          Hapus dari keranjang
        </ion-button>
        <ion-button *ngIf="(cart_data['jumlah'] == null && qty > 0) || (cart_data['jumlah'] != null && qty > 0)" (click)="click_insert_cart()" color="new" style="text-transform:none">
          Tambahkan ke keranjang - Rp.{{(qty * produkData['harga_jual']) | number:0 }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>