<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Detail Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row responsive-sm>
          <ion-col >
            <ion-card style="margin: 0px;">
              <ion-row>
                <ion-col size="6">
                  <ion-img [src]="produkData['gambar_url']"></ion-img>
                </ion-col>
                <ion-col size="6">
                  <p class="ion-text-wrap">{{produkData['nama']}}</p>
                </ion-col>
  
              </ion-row>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
