<ion-header no-border>
  <ion-toolbar color="white">
    <ion-title style="text-align: center;">Keranjang Belanja</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  .circle-button{
    width: 20px; 
    height:20px; 
    border: #f2f2f2; 
    border-style: solid; 
    border-radius: 50%; 
    border-width: 0.8px 0.8px 0.8px 0.8px;
  }
</style>
<ion-content id="content">
  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="dots"
      refreshingText="Perbarui data..">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col *ngIf="total == 0" size="12" style="margin-top: 50px; text-align: center;" class="ion-no-padding">
        <div class="div_12">
          <img src="/assets/img/cute_cart.png" style="filter: grayscale(1); border-radius: 0px 0px 20px 20px; border-bottom: 4px solid #69bb7b; width: 250px; height: 250px;">
        </div>
        <div class="div_12">
          <ion-label style="text-align: left; color: #a7a7a7; width: 100%; font-size:1em;">Keranjang kamu masih kosong</ion-label>
        </div>

      </ion-col>
      
      <ion-col class="ion-activatable ion-no-padding" size="12" *ngFor="let cart_data of cart_datas" style="height: 120px; border: #f2f2f2; border-style: solid; border-width: 0px 0px 0.2px 0px;">
        <ion-row style="height: 100px;">
          <ion-col size="4">
            <div style="height: 90px;">
              <img style="height: 100%; width: auto;" src="{{cart_data.gambar_url_produk}}"/>
            </div>
          </ion-col>

          <ion-col size="8" class="ion-no-padding" style="margin-top: 8px;">
            <ion-row>
              <ion-col size="12" class="ion-no-padding">
                <ion-row>
                  <ion-col size="5" class="ion-no-padding">
                    <label style="font-size: 0.8em; height: 100%; font-weight: bolder; color: rgb(14, 23, 32);">{{cart_data.nama_produk}}</label>
                  </ion-col>
                  <ion-col size="5" style="text-align: right;" class="ion-no-padding">
                    <label style="display: inline-block; font-size: 0.8em; font-weight: bolder; color: indianred">Rp. {{cart_data.harga_jual_th_produk}}</label>
                  </ion-col>
                  <ion-col size="2" class="ion-no-padding">
                    <ion-button class="circle-button ion-no-padding" (click)="set_qty(cart_data['produk_id'], 0)" size="small" color="pale-grey">
                      <ion-icon color="dark-grey" size="small" slot="icon-only" name="close" ></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="10" style="text-align: center; margin-top: 10px;">
                <ion-row>
                  <ion-col size="4" class="ion-no-padding" style="text-align: right;">
                    <ion-button class="circle-button ion-no-padding" (click)="plus_qty(cart_data)" size="small" color="pale-grey">
                      <ion-icon color="dark-grey" size="small" slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding" style="text-align: center;">
                    <ion-input (ionChange)="change_qty($event, cart_data['produk_id'])" size="small" minValue="0" class="ion-no-padding" value="{{cart_data['jumlah']}}" inputmode="numeric" style="width: 100%; height: 100%;  padding-left: 0px; margin: 0px;"></ion-input>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding" style="text-align: left;">
                    <ion-button *ngIf="cart_data['jumlah'] > 1" class="circle-button ion-no-padding" (click)="minus_qty(cart_data)" size="small" color="pale-grey">
                      <ion-icon color="dark-grey" slot="icon-only" name="remove"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="2">

              </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>
        
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="total > 0" style="text-align: center;"  no-border>
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="border: #f2f2f2; border-style: solid; border-width: 0.2px 0px 0.2px 0px;">
        <ion-row>
          <ion-col size="6" style="padding-left: 4px; text-align: left;">
            <label>Total Pembelian :</label>
          </ion-col>
          <ion-col size="6" style="padding-right: 4px; text-align: right;">
            <label>Rp.{{total  | number:0 }}</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="goto_checkout()" color="new" style="text-transform:none; margin-top: 4px; margin-bottom: 8px; width: auto; display: block;"> Checkout Order</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>