
<ion-tabs (ionTabsDidChange)="changedTab()" #tabs>
  <ion-tab-bar color="deep-new" slot="bottom">

    <ion-tab-button tab="dashboard">
        <ion-icon name="home"></ion-icon>
        <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Keranjang</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cari_produk">
        <ion-icon name="md-search"></ion-icon>
        <ion-label>Cari</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>