<style>
  label{
    font-size: 0.8em;
  }
  .div_garis_bawah{
    border-bottom: 0.8px solid dimgrey;
  }
  .div_garis_atas{
    border-top: 0.8px solid dimgrey;
  }
  .label_caption_summary{
    margin-right: 2px;
  }
  .btn_setuju{
    width: auto;
    display: block;
    text-transform: none;
  }

</style>
<ion-header no-border>
  <ion-toolbar color="pale-grey">
    <ion-title style="text-align: center;">Konfirmasi Order</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div_12" *ngFor="let item of items">
    <ion-grid >
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding" size="4" >
          <label>
            {{item['nama_produk']}}
          </label>
        </ion-col>
        <ion-col class="ion-no-padding" size="4" style="text-align: center;">
          <label>
            x{{item['jumlah'] | number:0}}{{item['satuan_nama_produk']}}
          </label>
        </ion-col>
        <ion-col class="ion-no-padding" size="1" style="text-align: right;">
          <label>
            Rp.
          </label>
        </ion-col>
        <ion-col class="ion-no-padding" size="3" style="text-align: right;">
          <label>
            {{(item['jumlah'] * item['harga_jual_produk']) | number:0}}
          </label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12">
    <ion-grid >
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding" size="4" >
        </ion-col>
        <ion-col class="ion-no-padding" size="4" style="text-align: right;">
          <label class="label_caption_summary">
            Sub total :
          </label>
        </ion-col>
        <ion-col class="ion-no-padding" size="1" style="text-align: right;">
          <label >
            Rp.
          </label>
        </ion-col>
        <ion-col class="ion-no-padding div_garis_atas" size="3" style="text-align: right;">
          <label>
            {{sub_total | number:0}}
          </label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12">
    <ion-grid >
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding" size="4" >
        </ion-col>
        <ion-col class="ion-no-padding" size="4" style="text-align: right;">
          <label class="label_caption_summary">
            Ongkir :
          </label>
        </ion-col>
        <ion-col class="ion-no-padding" size="1" style="text-align: right;">
          <label >
            Rp.
          </label>
        </ion-col>
        <ion-col class="ion-no-padding" size="3" style="text-align: right;">
          <label>
            {{ongkir | number:0}}
          </label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12">
    <ion-grid >
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding" size="4" >
        </ion-col>
        <ion-col class="ion-no-padding" size="4" style="text-align: right;">
          <label class="label_caption_summary">
            Total :
          </label>
        </ion-col>
        <ion-col class="ion-no-padding" size="1" style="text-align: right;">
          <label >
            Rp.
          </label>
        </ion-col>
        <ion-col class="ion-no-padding div_garis_atas" size="3" style="text-align: right;">
          <label style="font-weight: bold;">
            {{total | number:0}}
          </label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <label>Jam operasional: 07:00 - 19:00</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12">
    <ion-button (click)="save_order()" class="btn_setuju" color="new">
      SETUJU
      <ion-icon slot="end" name="checkmark"></ion-icon>
    </ion-button>
  </div>
</ion-content>
