
<style>
  .div_caption{
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    border-bottom: 0.7px solid lightgrey;
  }
  .div_strip_produk{
    min-height: auto;
    border-bottom: 0.4px solid rgb(236, 236, 236);
  }
  .div_background_summary{
    background: rgb(155,213,165);
    background: linear-gradient(90deg, rgba(155,213,165,0) 0%, rgba(155,213,165,0.16290266106442575) 35%, rgba(180,237,190,1) 100%);
  }
  .div_total{
    border-top: 0.4px dashed lightgrey;
    border-bottom: 0.4px dashed lightgrey;
    height: 100%;
  }
  .label_nama_produk{
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    color: darkslategray;
  }
  .label_summary{
    font-size: 0.8em;
    color: darkslategray;
    display: block;
  }
  .text_alamat{
    font-size: 0.8em;
    padding: 10px;

    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;

    border-radius: 4px;
    background-color: #fff9f3;
    width: auto;
  }
  .row_alamat{
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .div_tunai{
    margin-left: 6px;
    margin-right: 6px;

    padding: 6px;

    text-align: center;
    border: 0.5px lightgray solid;
    border-radius: 4px;
  }
  .select_bank{
    background-color: #fff9f3;
    
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;

    padding: 6px;
    border-left: 3px #69bb7b solid;
    font-size: 0.8em;
    text-align: center;
  }
  .label_detail_rekening{
    display: block;
    margin: 6px;
  }
  .div_detail_rekening{
    margin-bottom: 6px;

    margin-left: 6px;
    margin-right: 6px;

    border: 1px solid #eed8c1;
    border-radius: 4px;
  }
  .btn_lanjut_order{
    display: block;
    width: auto;
    text-transform:none;

    margin-left: 6px;
    margin-right: 6px;
  }
</style>
<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Checkout Order</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div_12 div_strip_produk" *ngFor="let cart_data of cart_datas">
    <ion-grid>
      <ion-row class="ion-no-padding">
        <!-- 'id', 
        'jumlah', 
        'produk_id', 
        'users_id', 
        'nama_produk', 
        'kategori_nama_produk', 
        'harga_jual_produk', 
        'gambar_produk', 
        'gambar_url_produk', 
        'harga_jual_th_produk', 
        'keterangan_produk', 'stok_produk', 'satuan_nama_produk' -->

        <ion-col class="ion-no-padding" size="2">
          <div class="div_12">
            <img style="height: auto; width: 100%;" src="{{cart_data.gambar_url_produk}}"/>
          </div>
        </ion-col>
        <ion-col class="ion-no-padding" size="4" style="padding-left: 4px;">
          <label class="label_nama_produk">{{cart_data.nama_produk}}</label>
          <label class="label_money_red">@ Rp.{{cart_data.harga_jual_produk | number:0}}</label>
        </ion-col>
        <ion-col class="ion-no-padding" style="text-align: right;" size="3">
          <label style="font-size: 0.8em;">x{{cart_data.jumlah}} {{cart_data.satuan_nama_produk}}</label>
        </ion-col>
        <ion-col style="text-align: right;" class="ion-no-padding" size="3">
          <label style="font-size: 0.8em;">Rp. {{cart_data.harga_jual_produk * cart_data.jumlah | number:0}}</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12">
    <ion-grid>
      <ion-row class="ion-no-padding div_background_summary" style="vertical-align: middle;">
        <ion-col class="ion-no-padding" size="6" style="padding-left: 4px;">
        </ion-col>
        <ion-col class="ion-no-padding" style="text-align: right;" size="3">
          <label class="label_summary ">Sub Total :</label>
        </ion-col>
        <ion-col style="text-align: right;" class="ion-no-padding" size="3">
          <label class="label_summary ">Rp.{{subtotal_sum | number:0}}</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12">
    <ion-grid>
      <ion-row class="ion-no-padding div_background_summary" style="vertical-align: middle;">
        <ion-col class="ion-no-padding" size="2" style="padding-left: 4px;">
        </ion-col>
        <ion-col class="ion-no-padding" style="text-align: right;" size="7">
          <label class="label_summary ">Berat Pengiriman :</label>
        </ion-col>
        <ion-col style="text-align: right;" class="ion-no-padding" size="3">
          <label class="label_summary ">{{berat_kirim_sum | number:0}}kg</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12 div_caption">
    <label>Pengiriman</label>
  </div>
  <div class="div_12">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding row_alamat">
        <ion-col class="ion-no-padding" size="6">
          <label class="label_summary" style="margin-left: 6px;">Atas nama :</label>
        </ion-col>
        <ion-col class="ion-no-padding" size="6">
          <ion-input #nama_kirim style="text-align: center;" placeholder="nama penerima" class="text_alamat" value="{{users_data['fullname']}}"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding row_alamat">
        <ion-col class="ion-no-padding" size="6">
          <label class="label_summary" style="margin-left: 6px;">No. Handphone :</label>
        </ion-col>
        <ion-col class="ion-no-padding" size="6">
          <ion-input #hp_kirim style="text-align: center;" class="text_alamat" placeholder="08xxxxxxxxxx" value="{{users_data['username']}}"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding row_alamat">
        <ion-col size="12">
          <label class="label_summary">Alamat Lengkap :</label>
        </ion-col>
        <!-- locate_raw_address($event.target.value) -->
        <!-- term$.next($event.target.value) -->
      </ion-row>
      <ion-row class="ion-no-padding row_alamat">
        <ion-col size="12" class="ion-no-padding">
          <ion-textarea #alamat (ionChange)="term$.next($event.target.value)" style="display: block; width: auto;" class="text_alamat ion-no-padding" placeholder="Jl. Cokrobaskoro 3, no.100, Tipes, Serengan, Surakarta" value="{{users_data.alamat}}"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding row_alamat">
        <ion-col size="12">
          <div #map style="width: 100%; height: 150px;">

          </div>
        </ion-col>
        <ion-col size="12">
          <label class="label_summary">Deteksi lokasi kirim :</label>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-textarea readonly class="text_alamat ion-no-padding" style="background-color: unset; border: 1px solid #eed8c1;" value="{{address}}"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding row_alamat">
        <ion-col size="12">
          <label class="label_summary">Keterangan detail alamat :</label>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-textarea #alamat_info class="text_alamat ion-no-padding" placeholder="Warna pagar ungu, di depan Kantor Pos" value="{{users_data['alamat_info']}}"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12">
    <ion-grid>
      <ion-row class="ion-no-padding div_background_summary" style="vertical-align: middle;">
        <ion-col class="ion-no-padding" size="1" style="padding-left: 4px;">
        </ion-col>
        <ion-col class="ion-no-padding" style="text-align: right;" size="8">
          <label class="label_summary ">Estimasi jarak pengiriman :</label>
        </ion-col>
        <ion-col style="text-align: right;" class="ion-no-padding" size="3">
          <label class="label_summary ">{{jarak | number:0}}km</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12">
    <ion-grid>
      <ion-row class="ion-no-padding div_background_summary" style="vertical-align: middle;">
        <ion-col class="ion-no-padding" size="4" style="padding-left: 4px;">
        </ion-col>
        <ion-col class="ion-no-padding" style="text-align: right;" size="5">
          <label class="label_summary ">Ongkir :</label>
        </ion-col>
        <ion-col style="text-align: right;" class="ion-no-padding" size="3">
          <label class="label_summary ">Rp. {{ongkir | number:0}}</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12">
    <ion-grid>
      <ion-row class="ion-no-padding div_background_summary" style="vertical-align: middle;">
        <ion-col class="ion-no-padding" size="4" style="padding-left: 4px;">
        </ion-col>
        <ion-col class="ion-no-padding" style="text-align: right;" size="5">
          <label class="label_summary ">Total :</label>
        </ion-col>
        <ion-col style="text-align: right;" class="ion-no-padding" size="3">
          <label class="label_summary ">Rp. {{total_sum | number:0}}</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_12 div_caption">
    <label>Tanggal Kirim</label>
  </div>
  <div class="div_12">
    <ion-select #lodnya (ionChange)="onchange_lod($event)" class="select_bank" value="{{selected_lod}}" interface="popover">
      <ion-select-option *ngFor="let lod of lod_datas" value="{{lod.tanggal}}">{{lod.nama}}</ion-select-option>
    </ion-select>
  </div>
  <div class="div_12 div_caption">
    <label>Pembayaran</label>
  </div>
  <div class="div_12" style="margin-bottom: 12px;">
    <ion-segment color="new" (ionChange)="onchange_opsi_bayar($event)" style="text-transform:none;" value="tunai">
      <ion-segment-button color="new" value="tunai" style="text-transform:none;">
        <ion-label>Bayar di tempat</ion-label>
      </ion-segment-button>
      <ion-segment-button color="new" value="transfer" style="text-transform:none;">
        <ion-label>Transfer Bank</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div  class="div_12" style="height: 150px;">
    <div #div_tunai class="div_12 div_tunai">
      <label style="font-size: 0.8em;">
        Pembayaran dilakukan tunai di tempat, ketika barang telah sampai di tujuan.
      </label>
    </div>
    <div #div_transfer class="div_12" style="display: none;">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="12" class="ion-no-padding">
            <ion-select (ionChange)="onchange_bank($event)" #bank class="select_bank" value="{{bank_id}}" interface="popover">
              <ion-select-option *ngFor="let bank_data of bank_datas" value="{{bank_data.id}}">{{bank_data.nama}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding div_detail_rekening">
          <ion-col size="6" class="ion-no-padding">
            <label class="label_detail_rekening" style="font-size: 0.8em;">
              Atas Nama : 
            </label>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <label class="label_detail_rekening" style="font-size: 0.8em; text-align: right;">
              {{atas_nama}}
            </label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding div_detail_rekening">
          <ion-col size="6" class="ion-no-padding">
            <label class="label_detail_rekening" style="font-size: 0.8em;">
              Nomor Rekening :
            </label>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <label class="label_detail_rekening" style="font-size: 0.8em; text-align: right;">
               {{nomor_rek}}
            </label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="div_12">
    <ion-button class="btn_lanjut_order" color="new" (click)="show_summary()">
      Lanjut order
    </ion-button>
  </div>
</ion-content>
